/**----------RESET---------**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/**------HEADER OLD FLEX----**/


header a img {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;

}

.navbar {
    padding: 0px;
    
}

.container-fluid {
    background-color: rgba(23, 235, 210, 0.985);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}



.nav-link {
    font-size: 25px;
    color: white;

}

.nav-link:hover {
    font-weight: 700;
    color: white;
}

button .navbar-toggler {
    color: white;
}

/**------MAIN----**/
/**section**/

.carrusel img {
    height: 358px;
    /*display: flex;*/
}


/**SECCION UNO**/

.seccionuno {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    padding: 20px;
}


.seccionuno div {
    width: 50%;
    margin: 20px;
}

.seccionuno div h2 {
    font-size: 30px;
}

.seccionuno div p {
    font-size: 20px;
}

.seccionuno img {
    width: 600px;
    height: 400px;
}

/** SECCION 2**/

.secciondos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    padding: 20px;
}


.secciondos div {
    width: 50%;
    margin: 20px;
}

.secciondos div h2 {
    font-size: 30px;
}

.secciondos div p {
    font-size: 20px;
}

.secciondos img {
    width: 600px;
    height: 400px;
}

/** SECCION 3**/

.secciontres {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    padding: 20px;
}


.secciontres div {
    width: 50%;
    margin: 20px
}

.secciontres div h2 {
    font-size: 30px;
}

.secciontres div p {
    font-size: 20px;
}

.secciontres img {
    width: 600px;
    height: 400px;
}






/**------FOOTER----**/

footer {
    background-color: rgba(23, 235, 210, 0.985);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    top: 0;

}

footer section {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    

}


footer section div ul {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    list-style: none;

}

footer section div ul li a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 200;
    font-family: helvetica;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 10px;
}

.imagenfiscal {
    width: 60px;
    height: 80px;
    display: flex;
    align-items: center;
    margin:;

}

.opciones {
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
}

.sellobureauveritas {
    width: 150px;
    height: 75px;
    display: flex;
    align-items: center;
    margin: ;
}



.textopie {
    background-color: rgba(23, 235, 210, 0.985);
    font-family: helvetica;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
   

}

/** MAIN NOSOTROS**/

.portada-nosotros { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.portada-nosotros img {
    width: 500px;
    height: 300px;
}

.texto-nosotros {
    display: flex;
    flex-direction: column;
    margin: 50px;
    font-size: 20px;
    font-weight: 500;


}
    




/** MAIN SERVICIOS **/

.grid-container {
    border: solid 20px color red;
    display: grid;
    grid-template-rows: 300px 300px 300px 300px;
    /*grid-template-columns: 200px 200px 200px;*/
    /*grid-template-columns: 33.3% 33.3% 33.3%;*/
    /*grid-auto-rows: 300px;*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "primer-item primer-item tercer-item"
        "segundo-item cuarto-item cuarto-item"
        "segundo-item quinto-item sexto-item"
        "septimo-item octavo-item sexto-item"
    ;
    /*gap: 10px;*/
    /*column-gap: 10px ;
    row-gap: 10px;*/
    margin: 50px;
    ;
}

.primer-item {
    /*grid-column-start: 1;
    grid-column-end: 3 ;*/
    grid-column: 1/3;
    background-image: url(../img/primeritemservicios.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}


.segundo-item {
    grid-row: 2/4;
    background-image: url(../img/segundo-item-servicios-desinfectacion.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tercer-item {
    background-image: url(../img/tercer-item-servicio-limpieza-alfombra.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;

}

.cuarto-item {
    grid-column: 2/4;
    background-image: url(../img/cuartoitemsrvicioscortecesped.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.quinto-item {

    background-image: url(../img/quinto-item-servicios-limpieza-labs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: ;

}

.sexto-item {
    background-image: url(../img/sexto-item-servicios-limpieza-vidrios.jpg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    grid-row: 3/5;

}


.septimo-item {
    background-image: url(../img/servicios-insumos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 4/5;
}


.octavo-item {
    background-image: url(../img/octavo-item-servicios-limpiezatanque.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 4/5;
}

.grid-item {
    border: solid 2px;
    background-color: bisque;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px;
    position: relative;
}

.grid-item h3 {
    position: absolute;
    color: black;
    font-size: 40px;
    font-family: helvetica;
    margin: 10px;



}

/*MAIN CONTACTOS*/

.ubicacion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    padding: 20px;

}

.textoubi {
    width: 50%;
    font-size: 25px;
}

.indicaciones-contacto { 
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}



.tipo-de-consulta { 
    display: flex;
    margin: 20px;
    font-size: 20px;
    
}

.formulario {
    font-size: 20px;
    display: flex ;
    justify-content: space-around;
    margin: 20px;

}

.botones-formulario { 
    display: flex;
    justify-content: right;
    margin-top: 20px;
    margin-right: 730px;
    margin-bottom: 20px;
}

    


@media screen and (max-width:1180px) {
    header {
        flex-direction: column;
        justify-content: center;
        height: 200px;
    }




    header a img {
        width: 200px;
        height: 100px;
        display: flex;
        align-items: ;
        margin: 5px;
        padding: 5px;
    }

    header nav ul {
        list-style: none;
        display: flex;
        align-items: baseline;
    }


    header nav ul li {
        display: flex;
        margin: 15px;
        justify-content: center;
        align-items: baseline;
        font-size: 15px;

    }




}


@media screen and (max-width: 800px) {

    .imagenprincipal {
        display: none;
    }

    .seccionuno {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        padding: 20px;
    }

    .seccionuno div {
        width: 100%;
        margin: 10px;

    }

    .seccionuno div h2 {
        font-size: 30px;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-bottom: 10px;
    }

    .seccionuno div p {
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }

    .seccionuno img {
        width: 600px;
        height: 400px;
    }

    .secciondos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        padding: 20px;
    }

    .secciondos div {
        width: 100%;
        margin: 10px;

    }

    .secciondos div h2 {
        font-size: 30px;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-bottom: 10px;
    }

    .secciondos div p {
        font-size: 20px;
        justify-content: ;
        align-items: ;
    }

    .secciontres {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        padding: 20px;
    }



    .secciontres div {
        width: 100%;
        margin: 10px;

    }

    .secciontres div h2 {
        font-size: 30px;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-bottom: 10px;
    }

    .secciontres div p {
        font-size: 20px;
        justify-content: ;
        align-items: ;
    }




}

@media screen and (max-width: 784px) {

    header {
        display: flex;
        flex-direction: ;
        justify-content: ;
        align-items: ;

    }

    header nav {
        display: flex;
        justify-content: space-between;
    }


    header nav ul li a {
        flex-direction: ;
        font-size: 25px;
        margin: 5px
    }

    header nav ul li {
        display: flex;
        justify-content: ;
        margin: 5px;

    }

}

@media screen and (max-width:625px) {



    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: ;
        height: 150px;
        align-items: ;
    }

    header a {
        display: flex;
        justify-content: ;
        align-items: ;


    }

    header nav {
        display: ;
        justify-content: ;

    }

    /*NO LOGRO PONER EL NAV EN FORMA DE LISTADO A LA DERECHA EN EL HEADER y A LA IZQ EL LOGO*/

    header nav ul {
        display: flex;
        flex-direction: ;
        justify-content: space-between;
        align-items: ;



    }

    header nav ul li a {
        font-size: 20px;
        margin: 1px;



    }

    header main {
        justify-content: ;
        align-items: ;
        display: ;
    }

    /* NO LOGRO PONER LAS SECCIONES CENTRADAS, H2 PARRAFOS E IMAGENES*/

    .seccionuno {
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        padding: ;


    }

    .seccionuno div h2 {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .seccionuno div p {
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;

    }

    .seccionuno img {
        width: 400px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .secciondos {
        width: 75%;
        justify-content: ;
        align-items: ;
        margin: 5px;
        padding: 5px;


    }

    .secciondos div h2 {
        font-size: 20px;

        margin-bottom: 10px;
    }

    .secciondos div p {
        font-size: 15px;


    }

    .secciondos img {
        width: 400px;
        height: 200px;
    }


    .secciontres {
        width: 75%;
        justify-content: ;
        align-items: ;
        margin: 5px;
        padding: 5px;


    }

    .secciontres div h2 {
        font-size: 20px;

        margin-bottom: 10px;
    }

    .secciontres div p {
        font-size: 15px;


    }

    .secciontres img {
        width: 400px;
        height: 200px;
    }


    footer {
        background-color: rgb(63, 241, 221);
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: ;
        align-items: center;

    }

    footer section {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: ;

    }


    footer section div ul {
        display: flex;
        justify-content: ;
        flex-direction: column;
        align-items: center;
        width: 100%;
        list-style: none;
    }

    footer section div ul li a {
        text-decoration: none;
        font-size: 20px;
        font-weight: 100;
        font-family: helvetica;
        color: white;
        display: flex;
        align-items: center;
        list-style: none;
        margin: ;
    }

    .imagenfiscal {
        width: 60px;
        height: 80px;
        display: flex;
        align-items: center;
        margin: 20px;

    }

    .opciones {
        width: 400px;
        height: 100px;
        display: flex;
        align-items: center;
    }

    .sellobureauveritas {
        width: 150px;
        height: 75px;
        display: flex;
        align-items: center;
        margin: 20px;
    }



    .textopie {
        background-color: rgb(63, 241, 221);
        font-family: helvetica;

    }




}