
.ubicacion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    padding: 20px;

}

.textoubi {
    width: 50%;
    font-size: 25px;
}

.indicaciones-contacto { 
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}



.tipo-de-consulta { 
    display: flex;
    margin: 20px;
    font-size: 20px;
    
}

.formulario {
    font-size: 20px;
    display: flex ;
    justify-content: space-around;
    margin: 20px;
    align-items: center;

}

.text-area { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}


.boton2 {
    background-color: map-get($boton, bg-boton);
    border-radius: map-get($boton, radio);
    color: map-get($boton, color-texto);
    padding: map-get($boton, alto);
    width: map-get($boton, ancho);
    text-decoration: map-get($boton, subrayado);
    margin: 10px;
}

.boton2:hover { 
    font-weight: 700;
    color: white;
   
}

.cajaform { 
    margin: 5px;
    display: flex;
  
}

